# https://github.com/crate-ci/typos/blob/master/docs/reference.md

[files]
extend-exclude = [
  "*.csv",
  "*.eps",
  "*.lvt",
  "*.tlg",
  "l3trial/l3htoks/tokens-use-count.txt",
  "LICENSE",
  "support/texlive.sh",
  "support/UShyphen.tex",
  "texmf/**",
  # historical dirs and files
  "articles/**",
  "xpackages/**",
  "l3kernel/doc/l3news*.tex",
]

[default]
extend-ignore-re = [
  "_[aA]lph:",
  "_juxt[_:]", # csnames in l3fp-parse.dtx
  ":[NncVvoxefTFpwD]+",
  "\\.ist\\b",
  "\\{ (atend|f(ith|o)|(03)?BA) \\}",
  "\\{inteval|openin\\}",
  "\\\\c\\[LSO\\]",
  "\\|(atend|fith|ABD)\\|",
  "\\bIEEE Comput\\.",
  "\\bopenin_any\\b",
  "\\bpre-empted\\b",
]

locale = "en-us"

[default.extend-identifiers]
OT1 = "OT1"

[default.extend-words]
nd = "nd"
Noo = "Noo"
parm = "parm"
parms = "parms"
vew = "vew"
