# https://github.com/crate-ci/typos/blob/master/docs/reference.md

[files]
# list of gitignore patterns
# https://git-scm.com/docs/gitignore#_pattern_format
extend-exclude = [
  ".git",
  "*.csv",
  "*.eps",
  "*.lvt",
  "*.tlg",
  "l3trial/l3htoks/tokens-use-count.txt",
  "LICENSE",
  "support/**",
  "!support/regression-test.cfg",
  "texmf/**",
  # binary files
  "*.jpg",
  "*.png",
  "*.xlsx",
  # historical dirs and files
  "*-????-??-??.sty",
  "articles/**",
  "xpackages/**",
  "l3kernel/doc/l3news*.tex",
]
# to run on hidden dirs and files
ignore-hidden = false

[default]
# list of Rust regex patterns
# https://docs.rs/regex/latest/regex/index.html#syntax
extend-ignore-re = [
  "_[aA]lph:",
  "_juxt[_:]", # csnames in l3fp-parse.dtx
  ":[NncVvoxefTFpwD]+",
  "\\.ist\\b",
  "\\{ (atend|f(ith|o)|(03)?BA) \\}",
  "\\{inteval|openin\\}",
  "\\\\c\\[LSO\\]",
  "\\|(atend|fith|ABD)\\|",
  "\\bIEEE Comput\\.",
  "\\bopenin_any\\b",
  "\\bpre-empted\\b",
  "\\dfilll\\b",
]

locale = "en-us"

[default.extend-identifiers]
OT1 = "OT1"

[default.extend-words]
millimetres = "millimetres"
nanometres = "nanometres"
nd = "nd"
Noo = "Noo"
parm = "parm"
parms = "parms"
vew = "vew"
