* text=auto !eol
l3in2e/l3candidates.dtx -text
l3in2e/l3intexpr.dtx -text
l3in2e/l3num.dtx -text
l3in2e/make.bat -text
l3in2e/testfiles/m3tl004.lvt -text
l3in2e/testfiles/m3tl004.tlg -text
news/l3news01-fr.tex -text
news/l3news02-fr.tex -text
news/pre-l3news-fr.tex -text
validate/commands-check.tex -text
validate/readme.val -text
validate/regression-test-suite.tex -text
validate/regression-test.tex -text
validate/testing.tex -text
xpackages/galley/make.bat -text
xpackages/make.bat -text
xpackages/xbase/make.bat -text
xpackages/xbase/testfiles/xtemplate002.lvt -text
xpackages/xbase/testfiles/xtemplate002.tlg -text
xpackages/xcoffins/xcoffins.ins -text
xpackages/xcontents/Makefile -text
xpackages/xcontents/make.bat -text
xpackages/xcontents/xcontents.ins -text
xpackages/xfootnote/make.bat -text
xpackages/xfrontm/make.bat -text
xpackages/xgalley/Makefile -text
xpackages/xgalley/make.bat -text
xpackages/xgalley/xgalley-test.tex -text
xpackages/xhead/firstattempt/Makefile -text
xpackages/xhead/firstattempt/make.bat -text
xpackages/xhead/xhead.ins -text
xpackages/xhead/xtextblock.sty -text
xpackages/xinitials/make.bat -text
xpackages/xlang/make.bat -text
xpackages/xlists/xlists.ins -text
xpackages/xor/make.bat -text
xpackages/xor/template-doc.sty -text
xpackages/xor/xo-balance.pdf -text
xpackages/xor/xo-pfloat.pdf -text
xpackages/xtheorem/make.bat -text
xpackages/xtras/Makefile -text
xpackages/xtras/make.bat -text
