xpackages/xfrontm/*.aux
xpackages/xfrontm/*.bbl
xpackages/xfrontm/*.idx
xpackages/xfrontm/*.ilg
xpackages/xfrontm/*.ind
xpackages/xfrontm/*.lof
xpackages/xfrontm/*.log
xpackages/xfrontm/*.lot
xpackages/xfrontm/*.toc
xpackages/xor/*.aux
xpackages/xor/*.bbl
xpackages/xor/*.dvi
xpackages/xor/*.idx
xpackages/xor/*.ilg
xpackages/xor/*.ind
xpackages/xor/*.lof
xpackages/xor/*.log
xpackages/xor/*.lot
xpackages/xor/*.toc
