build/*

*.fmt
*.zip

*.pdf
!*/testfiles/*.pdf

xpackages/xfrontm/*.aux
xpackages/xfrontm/*.bbl
xpackages/xfrontm/*.idx
xpackages/xfrontm/*.ilg
xpackages/xfrontm/*.ind
xpackages/xfrontm/*.lof
xpackages/xfrontm/*.log
xpackages/xfrontm/*.lot
xpackages/xfrontm/*.toc
!l3packages/fpu/testfiles/*.fmt
!l3packages/fpu/testfiles/*.zip
!l3packages/fpu/testfiles/*.pdf
