* text=auto !eol
/README.markdown -text
articles/2011-current-state.tex -text
l3experimental/l3dt/testfiles/m3dt001.lvt -text
l3experimental/l3dt/testfiles/m3dt001.tlg -text
l3experimental/l3str/l3flag.dtx -text
l3experimental/l3str/l3tl-analysis.dtx -text
l3experimental/l3str/l3tl-build.dtx -text
l3experimental/l3str/testfiles/m3flag001.lvt -text
l3experimental/l3str/testfiles/m3flag001.tlg -text
l3experimental/l3str/testfiles/m3regex004.lvt -text
l3experimental/l3str/testfiles/m3regex004.tlg -text
l3experimental/l3str/testfiles/m3regex005.lvt -text
l3experimental/l3str/testfiles/m3regex005.tlg -text
l3experimental/l3str/testfiles/m3regex006.lvt -text
l3experimental/l3str/testfiles/m3regex006.tlg -text
l3experimental/l3str/testfiles/m3regex007.lvt -text
l3experimental/l3str/testfiles/m3regex007.tlg -text
l3experimental/l3str/testfiles/m3regex008.lvt -text
l3experimental/l3str/testfiles/m3regex008.tlg -text
l3experimental/l3str/testfiles/m3str004.lvt -text
l3experimental/l3str/testfiles/m3str004.tlg -text
l3experimental/l3str/testfiles/m3tl-analysis001.lvt -text
l3experimental/l3str/testfiles/m3tl-analysis001.tlg -text
l3experimental/l3str/testfiles/m3tl-build001.lvt -text
l3experimental/l3str/testfiles/m3tl-build001.tlg -text
l3experimental/xcoffins/elementare-typographie-title.jpg -text svneol=unset#image/jpeg
l3kernel/l3candidates.dtx -text
l3kernel/l3fp-extended.dtx -text
l3kernel/l3fp-logic.dtx -text
l3kernel/l3fp-round.dtx -text
l3kernel/l3fp-traps.dtx -text
l3kernel/l3fp-trig.dtx -text
l3kernel/testfiles/m3basics001.lvt -text
l3kernel/testfiles/m3basics001.tlg -text
l3kernel/testfiles/m3basics002.lvt -text
l3kernel/testfiles/m3basics002.tlg -text
l3kernel/testfiles/m3clist003.lvt -text
l3kernel/testfiles/m3clist003.tlg -text
l3kernel/testfiles/m3clist004.lvt -text
l3kernel/testfiles/m3clist004.tlg -text
l3kernel/testfiles/m3clist005.lvt -text
l3kernel/testfiles/m3clist005.tlg -text
l3kernel/testfiles/m3compare001.lvt -text
l3kernel/testfiles/m3compare001.tlg -text
l3kernel/testfiles/m3fp-expo001.lvt -text
l3kernel/testfiles/m3fp-expo001.tlg -text
l3kernel/testfiles/m3fp-logic001.lvt -text
l3kernel/testfiles/m3fp-logic001.tlg -text
l3kernel/testfiles/m3fp-logic002.lvt -text
l3kernel/testfiles/m3fp-logic002.tlg -text
l3kernel/testfiles/m3fp-parse002.lvt -text
l3kernel/testfiles/m3fp-parse002.tlg -text
l3kernel/testfiles/m3fp-round001.lvt -text
l3kernel/testfiles/m3fp-round001.tlg -text
l3kernel/testfiles/m3fp-trig001.lvt -text
l3kernel/testfiles/m3fp-trig001.tlg -text
l3kernel/testfiles/m3msg003.lvt -text
l3kernel/testfiles/m3msg003.tlg -text
l3kernel/testfiles/m3prg004.lvt -text
l3kernel/testfiles/m3prg004.tlg -text
l3kernel/testfiles/m3seq005.lvt -text
l3kernel/testfiles/m3seq005.tlg -text
l3kernel/testfiles/m3seq006.lvt -text
l3kernel/testfiles/m3seq006.tlg -text
l3kernel/testfiles/m3seq007.lvt -text
l3kernel/testfiles/m3seq007.tlg -text
l3kernel/testfiles/m3skip005.lvt -text
l3kernel/testfiles/m3skip005.tlg -text
l3kernel/testfiles/m3tl003.tlg -text
l3kernel/testfiles/m3tl008.lvt -text
l3kernel/testfiles/m3tl008.tlg -text
l3kernel/testfiles/m3tl009.lvt -text
l3kernel/testfiles/m3tl009.tlg -text
l3kernel/testfiles/m3tl010.lvt -text
l3kernel/testfiles/m3tl010.tlg -text
l3trial/l3arithmetic/Makefile -text
l3trial/l3arithmetic/l3arithmetic.dtx -text
l3trial/l3arithmetic/l3arithmetic.ins -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras001.lvt -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras003.lvt -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras003.tlg -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras004.lvt -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras004.tlg -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras005.lvt -text
l3trial/l3kernel-extras/testfiles/m3kernel-extras005.tlg -text
l3trial/l3ldb/testfiles/m3ldb001.tlg -text
l3trial/l3ldb/testfiles/m3ldb002.tlg -text
l3trial/l3ldb/testfiles/m3ldb003.tlg -text
l3trial/l3trace/Makefile -text
l3trial/l3trace/l3trace.dtx -text
l3trial/l3trace/l3trace.ins -text
l3trial/l3tree/l3tree.dtx -text
l3trial/tl-act/testfiles/m3tl-act001.lvt -text
l3trial/tl-act/testfiles/m3tl-act001.tlg -text
news/l3news01-fr.tex -text
news/l3news02-fr.tex -text
news/l3news04.tex -text
news/l3news05.tex -text
news/l3news08.tex -text
news/pre-l3news-fr.tex -text
validate/commands-check.tex -text
validate/readme.val -text
validate/regression-test-suite.tex -text
validate/regression-test.tex -text
validate/testing.tex -text
xpackages/galley/make.bat -text
xpackages/make.bat -text
xpackages/xcontents/Makefile -text
xpackages/xcontents/make.bat -text
xpackages/xcontents/xcontents.ins -text
xpackages/xfootnote/make.bat -text
xpackages/xfrontm/make.bat -text
xpackages/xhead/firstattempt/Makefile -text
xpackages/xhead/firstattempt/make.bat -text
xpackages/xhead/make.bat -text
xpackages/xhead/xhead.ins -text
xpackages/xhead/xtextblock.sty -text
xpackages/xinitials/make.bat -text
xpackages/xlang/make.bat -text
xpackages/xlists/xlists.ins -text
xpackages/xor/template-doc.sty -text
xpackages/xor/xo-balance.pdf -text
xpackages/xor/xo-pfloat.pdf -text
xpackages/xtheorem/make.bat -text
