build/*
*.fmt
*.zip
l3*.pdf
l3experimental/xcoffins/*.pdf
l3experimental/xgalley/*.pdf
l3kernel/*.pdf
l3packages/xfrac/*.pdf
l3packages/xparse/*.pdf
l3packages/xtemplate/*.pdf
l3trial/xbox/*.pdf
l3trial/xfont/*.pdf
xpackages/xfrontm/*.aux
xpackages/xfrontm/*.bbl
xpackages/xfrontm/*.idx
xpackages/xfrontm/*.ilg
xpackages/xfrontm/*.ind
xpackages/xfrontm/*.lof
xpackages/xfrontm/*.log
xpackages/xfrontm/*.lot
xpackages/xfrontm/*.toc
