* text=auto !eol
examples/l3messages.tex -text
l3in2e/MakeCTAN -text
l3in2e/expl3-intro.tex -text
l3in2e/l3doc.dtx -text
l3in2e/l3obsolete.txt -text
l3in2e/readme-dev.txt -text
l3in2e/testfiles/README.txt -text
l3in2e/testfiles/m3clist001.lvt -text
l3in2e/testfiles/m3clist001.tlg -text
l3in2e/testfiles/m3expan001.lvt -text
l3in2e/testfiles/m3expan001.tlg -text
l3in2e/testfiles/m3int001.lvt -text
l3in2e/testfiles/m3int001.tlg -text
l3in2e/testfiles/m3num001.lvt -text
l3in2e/testfiles/m3num001.tlg -text
l3in2e/testfiles/m3prg001.lvt -text
l3in2e/testfiles/m3prg001.tlg -text
l3in2e/testfiles/m3prg002.lvt -text
l3in2e/testfiles/m3prg002.tlg -text
l3in2e/testfiles/m3prg003.lvt -text
l3in2e/testfiles/m3prg003.tlg -text
l3in2e/testfiles/m3prop001.lvt -text
l3in2e/testfiles/m3prop001.tlg -text
l3in2e/testfiles/m3quark001.lvt -text
l3in2e/testfiles/m3quark001.tlg -text
l3in2e/testfiles/m3seq001.lvt -text
l3in2e/testfiles/m3seq001.tlg -text
l3in2e/testfiles/m3show001.lvt -text
l3in2e/testfiles/m3show001.tlg -text
l3in2e/testfiles/m3skip001.lvt -text
l3in2e/testfiles/m3skip001.tlg -text
l3in2e/testfiles/m3skip002.lvt -text
l3in2e/testfiles/m3skip002.tlg -text
l3in2e/testfiles/m3tlp001.lvt -text
l3in2e/testfiles/m3tlp001.tlg -text
l3in2e/testfiles/m3tlp002.lvt -text
l3in2e/testfiles/m3tlp003.lvt -text
l3in2e/testfiles/m3token001.lvt -text
l3in2e/testfiles/m3toks001.lvt -text
l3in2e/testfiles/m3toks001.tlg -text
l3in2e/testfiles/template.lvt -text
news/l3news01.tex -text
news/ltnews.cfg -text
support/ascii.tcx -text
support/checktlg -text
support/log2tlg -text
support/maketlg -text
validate/readme.val -text
validate/regression-test-suite.tex -text
validate/regression-test.tex -text
validate/testing.tex -text
xpackages/MakeCTAN -text
xpackages/readme-ctan.txt -text
xpackages/readme-svnonly.txt -text
xpackages/xcontents/xcontents.ins -text
xpackages/xor/l3stuff.dtx -text
xpackages/xor/template-doc.sty -text
xpackages/xor/xo-balance.pdf -text
xpackages/xor/xo-footnote.dtx -text
xpackages/xor/xo-pagestyle.dtx -text
xpackages/xor/xo-pfloat.pdf -text
