# This workflow makes sure that there is always a cache present for the main branch.
# This cache can be picked up by all other branches, so it ensures that even new
# branches and tags don't have to download a complete copy of TeX Live.
#
# Since GitHub keeps unused caches for one week, we need to run at least once a week
# to ensure that the cache always stays around. To avoid timing issues and issues
# when an update fails for some reason, we run twice per week.

name: Keep TeX Live cache up-to-date
on:
  schedule:
    # Run every tuesday and saturday at 02:48. The time has been chosen at random.
    - cron: '48 2 * * 2,6'

jobs:
  cache:
    runs-on: ubuntu-20.04
    name: Update TeX Live
    steps:
      # To use `.github/tl_packages`, main repo must be checked out first.
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install TeX Live
        uses: zauguin/install-texlive@v3
        with:
          # List the required TeX Live packages in a separate file to allow reuse in
          # different workflows.
          package_file: .github/tl_packages
