name: Create release

# We create releases for all new tags
on:
  push:
    tags:
      - "*"

jobs:
  # The l3build job contains the actual work. This is mostly the same as in main.yaml
  # and should stay synchronized. Sadly it doesn't seem possible to reuse the instructions at the moment.
  release:
    runs-on: ubuntu-20.04
    name: Build release
    environment: Release
    steps:
      # Boilerplate
      - name: Checkout repository
        uses: actions/checkout@v3
      # We need Ghostscript for dvips and XeTeX tests.
      - run: sudo apt-get update && sudo apt-get install ghostscript
      - name: Install TeX Live
        uses: zauguin/install-texlive@v2
        with:
          # List the required TeX Live packages in a separate file to allow reuse in
          # different workflows.
          package_file: .github/tl_packages
      - name: Run l3build
        run: l3build ctan -q -H --show-log-on-error
      - name: Archive failed test output
        if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: testfiles
          path: build/test*/*.diff
          # Decide how long to keep the test output artifact:
          retention-days: 3
      # Now create the release (this only runs if the previous steps were successful)
      - name: Create GitHub release
        uses: ncipollo/release-action@a2e71bdd4e7dab70ca26a852f29600c98b33153e # v1.12.0
        id: release
        with:
          artifacts: "*.zip"
          token: ${{ secrets.GITHUB_TOKEN }}
      # While the normal notification job only informs about failed runs, we additionally want to notify about successful releases.
      - name: Send mail
        # The explicit commit hash ensures that this can't be used by dawidd6 as a
        # backdoor to execute arbitrary code during our runs.
        uses: dawidd6/action-send-mail@6063705cefe50cb915fc53bb06d4049cae2953b2 # v3.7.1
        with:
          # Currently using my (Marcel's) mail server for sending mails.
          server_address: typesetting.eu
          server_port: 587
          # These values can be changed in the repository settings.
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          # If we want to send notifications to additional addresses, at them here as
          # a comma separated list.
          to: latex3-commits@tug.org
          # The name is arbitrary, but if you want to change the address you need to
          # coordinate it with the administrator of the mail server to allow the account
          # to send from the mail address.
          from: LaTeX CI <github@latex-project.org>
          # Determine the subject and body of the mail.
          subject: "Version ${{github.ref_name}} of ${{github.repository}} has been released"
          body: |
            The release ${{github.ref_name}} has been created for ${{github.repository}}.

            More information can be found at
            ${{steps.release.outputs.html_url}}
      - name: Send failure notification
        uses: dawidd6/action-send-mail@6063705cefe50cb915fc53bb06d4049cae2953b2 # v3.7.1
        if: ${{ failure() }}
        with:
          server_address: typesetting.eu
          server_port: 587
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          to: latex3-commits@tug.org
          from: LaTeX CI <github@latex-project.org>
          priority: high
          # Determine the subject and body of the mail.
          subject: "Test failure while trying to build release ${{github.ref_name}} in ${{github.repository}}"
          body: |
            Test failure for ${{github.repository}}
            -------------------------------------------------------------

            On tag:           ${{github.ref_name}} (${{github.sha}})
            Initiated by:     ${{github.actor}}
            Commit URL:       https://github.com/${{github.repository}}/commit/${{github.sha}}
            More information: https://github.com/${{github.repository}}/actions/runs/${{github.run_id}}
